*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product_image{
    width: 200px;
}
#cart-container{
    margin: 5rem;
}

.single-product{
    border: 2px solid red;
    margin-bottom: 1.5rem;
    padding: 10px;
}
button{
    padding: 10px;
}

.remove-btn{
    margin-top: 10px;
}

#total{
    margin-left: 90px;
}

#cart-total{
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}


#proceedToCheckout{
    margin-left: 90px;
    padding: 10px;
    color: white;
    background-color: maroon;
    border: 0;
}

.like-btn{
    background: transparent;
    border: 0;
}